{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
 <a href="{{ path('home') }}">retour à l'accueil</a>
<h1>{{ article.title }}</h1>
    <img src="{{ article.picture }}">
    <p>{{ article.description }}</p>
    <p>mis en ligne le : {{ article.date|date('d/m/Y') }}</p>
{% endblock %}
